@blue: #90C3D4;
@white: white;
@orange: orange;
@gray: grey;
@black: black;

.columncount {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.columngap {
    -webkit-column-gap: 100px;
    column-gap: 100px;
}
.roundborders (@radius: 10px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}
.garamondcenter {
    font-family: Garamond;
    text-align: center;
}
.boxhue {
    background-color: saturate(@orange, 30%);
}
#menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    padding: 0px;
    height: 35px;
    font-size: 16px;
    font-family: Garamond;
    font-weight: bold;
    text-align: center;
    background-color: @blue;
}
#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
   display: inline;
   padding: 20px; 
}
#menu a {
    text-decoration: none;
    color: @white;
}
#menu a:hover {
    .boxhue;
}
#header1 {
    line-height: 50%;
    .garamondcenter;
}
#abouttype {
    line-height: 1%;
    .garamondcenter;
}
#about {
    padding: 50px;
}

/*#about {
    margin: 0px 0px 0px 40px;
    float: left;
    width: 600px;
    height: 400px;
    padding: 50px;
    .columncount;
    .columngap;
}*/
#skills {
    line-height: 1%;
    .garamondcenter;
}
/*#skillsbody {
    margin: 0px 0px 0px 40px;
    float: left;
    width: 600px;
    height: 100px;
    padding: 50px;
    .columncount;
    .columngap;
}*/
#projects {
    line-height: 1%;
    .garamondcenter;
}
#projectsbody {
    padding: 70px;
}
#experiencehead {
    line-height: 1%;
    .garamondcenter;
}
#experience1 {
    font-family: Garamond;
    padding: 0px;
    line-height: 5%;
    margin: 0px 0px 0px 75px;
}
#experience1 h6 {
    font-size: 14px;
    font-style: italic;
    color: @blue;
    font-family: Garamond;
    text-indent: 10px;
    line-height: 5%;
}
#experience1 p {
    text-indent: 10px;
    line-height: 2px;
}
#experience2 {
    font-family: Garamond;
    padding: 0px;
    line-height: 0px;
    margin: 0px 0px 0px 75px;
}
#experience2 h6 {
    font-size: 14px;
    font-style: italic;
    color: @blue;
    font-family: Garamond;
    text-indent: 10px;
    line-height: 5%;
}
#experience2 p {
    text-indent: 10px;
}
#experience3 {
    font-family: Garamond;
    padding: 0px;
    line-height: 5%;
    margin: 0px 0px 0px 75px;
}
#experience3 h6 {
    font-size: 14px;
    font-style: italic;
    color: @blue;
    font-family: Garamond;
    text-indent: 10px;
    line-height: 5%;
}
#experience3 p {
    text-indent: 10px;
}
#experience4 {
    font-family: Garamond;
    padding: 0px;
    line-height: 5%;
    margin: 0px 0px 0px 75px;
}
#experience4 h6 {
    font-size: 14px;
    font-style: italic;
    color: @blue;
    font-family: Garamond;
    text-indent: 10px;
    line-height: 5%;
}
#experience4 p {
    text-indent: 10px;
}
#educationhead {
    line-height: 1%;
    .garamondcenter;
}
#contacthead {
    line-height: 1%;
    .garamondcenter;
}
#box {
    text-align: center;
    background-color: @blue;
    width: 500px;
    height: 400px;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid @gray;
    margin: auto;
    .roundborders
}
#box form {
   color: @white;
   font-size: 12px; 
   padding: 20px;
}
#footer {
    word-spacing: 20px;
    color: @blue;
    line-height: 5px;
    .garamondcenter;
}
#footer a {
    text-decoration: none;
}
#educationbody {
    font-family: Garamond;
    line-height: 3px;
    margin: 0px 0px 0px 75px;
}
#footer a:hover {
    .boxhue;
}