.columncount {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.columngap {
  -webkit-column-gap: 100px;
  column-gap: 100px;
}
.garamondcenter {
  font-family: Garamond;
  text-align: center;
}
#menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0px;
  padding: 0px;
  height: 35px;
  font-size: 16px;
  font-family: Garamond;
  font-weight: bold;
  text-align: center;
  background-color: #90c3d4;
}
#menu ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}
#menu li {
  display: inline;
  padding: 20px;
}
#menu a {
  text-decoration: none;
  color: white;
}
#menu a:hover {
  color: black;
  background-color: orange;
}
#header1 {
  line-height: 50%;
  font-family: Garamond;
  text-align: center;
}
#abouttype {
  line-height: 1%;
  font-family: Garamond;
  text-align: center;
}
#about {
  margin: 0px 0px 0px 40px;
  float: left;
  width: 600px;
  height: 400px;
  padding: 50px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 100px;
  column-gap: 100px;
}
#skills {
  line-height: 1%;
  font-family: Garamond;
  text-align: center;
}
#skillsbody {
  margin: 0px 0px 0px 40px;
  float: left;
  width: 600px;
  height: 100px;
  padding: 50px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 100px;
  column-gap: 100px;
}
#projects {
  line-height: 1%;
  font-family: Garamond;
  text-align: center;
}
#projectsbody {
  padding: 70px;
}
#experiencehead {
  line-height: 1%;
  font-family: Garamond;
  text-align: center;
}
#experience1 {
  font-family: Garamond;
  padding: 0px;
  line-height: 5%;
  margin: 0px 0px 0px 75px;
}
#experience1 h6 {
  font-size: 14px;
  font-style: italic;
  color: #90c3d4;
  font-family: Garamond;
  text-indent: 10px;
  line-height: 5%;
}
#experience1 p {
  text-indent: 10px;
  line-height: 2px;
}
#experience2 {
  font-family: Garamond;
  padding: 0px;
  line-height: 0px;
  margin: 0px 0px 0px 75px;
}
#experience2 h6 {
  font-size: 14px;
  font-style: italic;
  color: #90c3d4;
  font-family: Garamond;
  text-indent: 10px;
  line-height: 5%;
}
#experience2 p {
  text-indent: 10px;
}
#experience3 {
  font-family: Garamond;
  padding: 0px;
  line-height: 5%;
  margin: 0px 0px 0px 75px;
}
#experience3 h6 {
  font-size: 14px;
  font-style: italic;
  color: #90c3d4;
  font-family: Garamond;
  text-indent: 10px;
  line-height: 5%;
}
#experience3 p {
  text-indent: 10px;
}
#experience4 {
  font-family: Garamond;
  padding: 0px;
  line-height: 5%;
  margin: 0px 0px 0px 75px;
}
#experience4 h6 {
  font-size: 14px;
  font-style: italic;
  color: #90c3d4;
  font-family: Garamond;
  text-indent: 10px;
  line-height: 5%;
}
#experience4 p {
  text-indent: 10px;
}
#educationhead {
  line-height: 1%;
  font-family: Garamond;
  text-align: center;
}
#contacthead {
  line-height: 1%;
  font-family: Garamond;
  text-align: center;
}
#box {
  text-align: center;
  background-color: #90c3d4;
  width: 500px;
  height: 300px;
  margin-left: 40px;
  margin-right: 40px;
  border: 2px solid grey;
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#box form {
  color: white;
  font-size: 12px;
  padding: 20px;
}
#footer {
  word-spacing: 20px;
  color: #90c3d4;
  line-height: 5px;
  font-family: Garamond;
  text-align: center;
}
#footer a {
  text-decoration: none;
}
#educationbody {
  font-family: Garamond;
  line-height: 3px;
  margin: 0px 0px 0px 75px;
}
#footer a:hover {
  color: black;
  background-color: orange;
}
